@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/dark-blue";
@import "./themes//light-opal.scss";

body {
  background: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
  min-height: 100vh;
}

.page-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
