.loginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  width: 100%;
}

.loginFormInput {
  margin-bottom: 20px;
}

.loginFormBtn {
  margin-top: 10px;
}
