.modal {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

.overlay {
  background: rgba($color: #000, $alpha: 60%);
  border: none;
  height: 100%;
  left: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.content {
  background-color: var(--bg-color);
  border-radius: 8px;
  max-width: 640px;
  padding: 16px;
  position: relative;
  width: calc(100% - 10px);
  z-index: 2;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content {
    animation: open-modal 0.25s ease-out forwards;
  }
}

.closing {
  .content {
    animation: close-modal 0.2s ease-out forwards;
  }
}

@keyframes open-modal {
  0% { transform: scale(0.2); }
  100% { transform: scale(1); }
}

@keyframes close-modal {
  0% { transform: scale(1); }
  100% { transform: scale(0.1); }
}
