.button {
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 4px 8px;
}

.clear {
  background: none;
  border: none;
  color: var(--primary-color);
  padding: 0;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.03);
      transition: all 0.1s linear;
    }
  }
}

.outline {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 6px 12px;
}
