.button {
  cursor: pointer;
  height: 24px;
  width: 24px;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.03);
      transition: all 0.1s linear;
    }
  }
}

.clear {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
