.button {
  cursor: pointer;
  width: 32px;
  height: 32px;

  @media (hover: hover) {
    &:hover{
      transform: scale(1.03);
      transition: all 0.1s linear;
    }
  }
}

.clear {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
