.sidebar {
  background: var(--inverted-bg-color);
  border-right: 1px solid var(--primary-color-border);
  height: calc(100vh - var(--navbar-height));
  position: relative;
  transition: width 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: var(--sidebar-width);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
