.burgerBtn {
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: space-around;
  width: 24px;

  @media (hover: hover) {
    &:hover {
      transform: none;

      span {
        background-color: var(--primary-color-hover);
      }
    }
  }

  span {
    background-color: var(--primary-color);
    display: block;
    height: 2px;
    width: 100%;
  }
}
