.themeSwitcherIcon {
  path {
    transition: all 0.1s linear;
  }
}

.themeSwitcherIconSun {
  path {
    fill: #c5b200;
  }
}

.themeSwitcherIconMoon {
  path {
    fill: #0060d5;
  }
}

.themeSwitcher {
  @media (hover: hover) {
    &:hover {
      .themeSwitcherIconSun {
        -webkit-filter: drop-shadow(0px 0px 7px rgba(197, 178, 0, 0.4));
        filter: drop-shadow(0px 0px 7px rgba(197, 178, 0, 0.4));

        path {
          fill: #ffe81b;
        }
      }

      .themeSwitcherIconMoon {
        -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 96, 213, 0.2));
        filter: drop-shadow(0px 0px 7px rgba(0, 96, 213, 0.2));

        path {
          fill: #1981ff;
        }
      }
    }
  }
}
