.themeSwitcherIcon {
  path {
    transition: all 0.1s linear;
  }
}

.themeSwitcherIconSun {
  path {
    fill: #c5b200;
  }
}

.themeSwitcherIconMoon {
  path {
    fill: #0060d5;
  }
}

.themeSwitcherSphere {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.themeSwitcherSphereDarkBlue {
  background-color: #002333;
}

.themeSwitcherSphereLightOpal {
  background-color: #e7f0f1;
}

.themeSwitcher {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;

  @media (hover: hover) {
    &:hover {
      .themeSwitcherIconSun {
        -webkit-filter: drop-shadow(0 0 7px rgb(197 178 0 / 40%));
        filter: drop-shadow(0 0 7px rgb(197 178 0 / 40%));

        path {
          fill: #ffe81b;
        }
      }

      .themeSwitcherIconMoon {
        -webkit-filter: drop-shadow(0 0 7px rgb(0 96 213 / 20%));
        filter: drop-shadow(0 0 7px rgb(0 96 213 / 20%));

        path {
          fill: #1981ff;
        }
      }

      .themeSwitcherSphereDarkBlue {
        -webkit-filter: drop-shadow(0 0 7px rgb(0 35 51 / 20%));
        filter: drop-shadow(0 0 7px rgb(0 35 51 / 20%));
      }

      .themeSwitcherSphereLightOpal {
        -webkit-filter: drop-shadow(0 0 7px rgb(231 240 241 / 20%));
        filter: drop-shadow(0 0 7px rgb(231 240 241 / 20%));
      }
    }
  }
}
