.themeSwitcherIcon {
  path {
    transition: all 0.1s linear;
  }
}

.themeSwitcherIconSun {
  path {
    fill: #c5b200;
  }
}

.themeSwitcherIconMoon {
  path {
    fill: #0060d5;
  }
}

.themeSwitcher {
  height: 24px;
  width: 24px;

  @media (hover: hover) {
    &:hover {
      .themeSwitcherIconSun {
        -webkit-filter: drop-shadow(0 0 7px rgb(197 178 0 / 40%));
        filter: drop-shadow(0 0 7px rgb(197 178 0 / 40%));

        path {
          fill: #ffe81b;
        }
      }

      .themeSwitcherIconMoon {
        -webkit-filter: drop-shadow(0 0 7px rgb(0 96 213 / 20%));
        filter: drop-shadow(0 0 7px rgb(0 96 213 / 20%));

        path {
          fill: #1981ff;
        }
      }
    }
  }
}
