:root[data-theme="dark-blue"] {
  --bg-color: #002333;
  --inverted-bg-color: #001e2c;
  --primary-color: #fcfdfd;
  --primary-color-border: #cbd5e11a;
  --success-color: #009d34;
  --success-color-hover: #007025;

  // Hover text
  --primary-color-hover: #d9d9d9;

  // Errors
  --text-error-color: #d00;
}
