:root[data-theme="dark"] {
  --bg-color: #23272f;
  --inverted-bg-color: #23262f;
  --primary-color: #f6f7f9;
  --secondary-color: #fff;
  --primary-color-border: #cbd5e11a;

  // Hover text
  --primary-color-hover: #d9d9d9;
}
