:root[data-theme="light-opal"] {
  --bg-color: #f4fafb;
  --inverted-bg-color: #e7f0f1;
  --primary-color: #003d42;
  --primary-color-border: #003d425b;
  --success-color: #00b33c;
  --success-color-hover: #008e2f;

  // Hover text
  --primary-color-hover: #004c53;

  // Errors
  --text-error-color: #d00;
}
