.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #fff9;

  --primary-color: #23272f;
  --secondary-color: #000;
  --primary-color-border: #0f172a1a;

  // Hover text
  --primary-color-hover: #3b3f48;
}
