.app.light {
  --bg-color: #FFFFFF;
  --inverted-bg-color: #23272f;

  --primary-color: #23272F;
  --secondary-color: #000;

  --inverted-primary-color: #f6f7f9;
  --inverted-secondary-color: #ffffff;

  // Hover text
  --primary-color-hover: #3b3f48;
  --inverted-primary-color-hover: #d9d9d9;
}