.navbar {
  align-items: center;
  background: var(--inverted-bg-color);
  border-bottom: 1px solid var(--primary-color-border);
  display: flex;
  height: var(--navbar-height);
  padding: 10px 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.navbarActions {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.navbarSwitchers {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: 24px;

  button:not(:last-child) {
    margin-right: 12px;
  }
}

.navbarLinks {
  min-width: 124px;
  text-align: right;

  a:first-child {
    margin-right: 16px;
  }
}
