.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbarActions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbarSwitchers {
  margin-right: 24px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbarLinks {
  a:first-child {
    margin-right: 16px;
  }
}
