.navbar {
  align-items: center;
  background: var(--inverted-bg-color);
  border-bottom: 1px solid var(--primary-color-border);
  display: flex;
  height: var(--navbar-height);
  padding: 10px 24px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.navbarControls {
  align-items: center;
  display: flex;
}

.navbarActions {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.navbarSwitchers {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: 24px;

  button:not(:last-child) {
    margin-right: 12px;
  }
}
