.profileCard {
  border: 2px solid var(--primary-color);
  padding: 20px;
}

.avatar {
  height: 150px;
  margin-bottom: 40px;
  width: 150px;
}

.input {
  max-width: 400px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
