.appLink {
  color: var(--primary-color);
  display: inline-block;
  line-height: 1.2;
  text-decoration: none;
}

.primary {
  color: var(--primary-color);

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color-hover);
    }
  }
}

.secondary {
  color: var(--primary-color);

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color-hover);
    }
  }
}
